@font-face {
    font-family: "Circe";
    src: url(fonts/Circe/circe.ttf);
}

@font-face {
    font-family: "Comic Sans MS";
    src: url(fonts/ComicSansMS/comic.ttf);
}

@font-face {
    font-family: "To Japan";
    src: url(fonts/ToJapan/tojapan.ttf);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-text-size-adjust: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

nav a {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

h1 {
    font-family: 'To Japan';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 180px;
    color: #ffffff;
}

h2 {
    font-family: 'Circe';
    font-style: normal;
    font-size: 50px;
    color: #ffffff;
}

h3 {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-size: 43px;
    line-height: 100px;
    color: #ff0500;
}

h4 {
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 38px;
    text-align: center;
}

h5 {
    font-family: 'Circe';
    font-style: normal;
    font-size: 44px;
    line-height: 70px;
    color: #ffffff;
}

h6 {
    font-family: 'To Japan';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 40px;
    color: #ffffff;
}

h7 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 390;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
}

p {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    color: #004477;
    padding-bottom: 10px;
}

p2 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #004477;
}

p3 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

p4 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
    color: #FFFFFF;
}

p5 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #004477;
}

p6 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #004477;
}

p7 {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

a:hover {
    color: #004477;
}

.abzac {
    padding-top: 18px;
}

.abzac2 {
    padding-top: 7px;
}

.otdel1 {
    background: url(img/fon1.2.png) center/cover no-repeat;
}

.container {
    margin: 0 auto;
    max-width: 1040px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 80px;
    min-width: 1100px;
    margin-left: -50px;
}

.logo {
    cursor: pointer;
}

.curaprox {
    width: 201.6px;
    height: 40.8px;
}

.sec-1 {
    padding-top: 20px;
}

.sec-1, .sec-2 {
    align-items: center;
    text-align: center;
}

.bacterii {
    padding-left: 15px;
}

.bac1 {
    cursor: pointer;
    width: 16%;
    padding-right: 22px;
    -webkit-animation: pulsing 2.2s infinite;
    animation: pulsing 2.2s infinite;
}

.bac2 {
    cursor: pointer;
    width: 17%;
    padding-bottom: 35px;
    padding-right: 15px;
    -webkit-animation: pulsing 2.8s infinite;
    animation: pulsing 2.8s infinite;
}

.bac3 {
    cursor: pointer;
    width: 19%;
    padding-right: 15px;
    -webkit-animation: pulsing 2.6s infinite;
    animation: pulsing 2.6s infinite;
}

.bac4 {
    cursor: pointer;
    width: 20%;
    padding-bottom: 35px;
    padding-right: 25px;
    -webkit-animation: pulsing 2.4s infinite;
    animation: pulsing 2.4s infinite;
}

.bac5 {
    cursor: pointer;
    width: 18%;
    -webkit-animation: pulsing 3s infinite;
    animation: pulsing 3s infinite;
}

@-webkit-keyframes pulsing {
    0% {
      -webkit-transform: scale(0.75, 0.75);
      transform: scale(0.75, 0.75)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.75, 0.75);
      transform: scale(0.75, 0.75);
    }
  }
  
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.75, 0.75);
      transform: scale(0.75, 0.75)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.75, 0.75);
      transform: scale(0.75, 0.75);
    }
  }

.sec-3 {
    text-align: center;
    margin-top: 200px;
}

.crug {
    display: flex;
}

.flex-card {
    justify-content: space-between;
    width: 50%;
}

.greencrug {
    width: 500px;
    height: 500px;
    flex-direction: column;
    padding: 45px 20px;
}

.otdel2 {
    background: url(img/fon2.2.png) center/cover no-repeat;
}

.sec-4 {
    padding-top: 50px;
}

.flex-card2 {
    display: flex;
    justify-content: space-between;
}

.item, .item1, .item2, .item1-2, .item2-2 {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.text {
    margin-left: 30px;
    margin-top: 25px;
}

.h4-1 {
    padding-top: 10px;
    padding-right: 150px;
    color: #ED6FA6;
}

.img1 {
    width: 110%;
    position: absolute;
    left: -70px;
    top: 45px;
}

.sec-5 {
    padding-top: 90px;
}

.text2 {
    margin-top: 10px;
}

.h4-2 {
    padding-top: 10px;
    padding-right: 60px;
    color: #EA6324;
}

.img2 {
    width: 95%;
    position: absolute;
    left: -25px;
    top: 55px;
}

.sec-6 {
    padding-top: 50px;
}

.text3 {
    margin-left: 30px;
    margin-top: 40px;
}

.h4-3 {
    padding-top: 40px;
    padding-right: 120px;
    color: #7A4897;
}

.img3 {
    width: 105%;
    position: absolute;
    left: -30px;
    top: 35px;
}

.sec-7 {
    padding-top: 110px;
}

.text4 {
    margin-left: 15px;
    margin-top: 10px;
}

.h4-4 {
    padding-right: 50px;
    color: #83BC41;
}

.p5-1 {
    letter-spacing: -0.3px;
}

.img4 {
    width: 120%;
    position: absolute;
    left: -85px;
    top: 100px;
}

.sec-8 {
    padding-top: 30px;
}

.text5 {
    margin-left: 30px;
    margin-top: 30px;
}

.h4-5 {
    padding-top: 20px;
    padding-right: 55px;
    color: #E52525;
}

.img5 {
    width: 71%;
    position: absolute;
    left: 55px;
    top: 100px;
}

.sec-9 {
    padding-top: 270px;
    align-items: center;
    text-align: center;
}

.bacterii2 {
    padding-left: 15px;
}

.bac1-2 {
    width: 14%;
    padding-right: 22px;
}

.bac2-2 {
    width: 17%;
    padding-right: 15px;
}

.bac3-2 {
    width: 18%;
    padding-right: 30px;
}

.bac4-2 {
    width: 16%;
    padding-right: 30px;
}

.bac5-2 {
    width: 13%;
}

.sec-10 {
    align-items: center;
    text-align: center;
    position: relative;
}

.paste {
    width: 73%;
    padding-right: 45px;
}

.redcrug {
    background: url("img/circle2.png") center/cover no-repeat;
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 15px;
    top: 230px;
    left: 530px;
}

.h5-1 {
    font-size: 27px;
    line-height: 40px;
}

.brush {
    width: 50%;
    margin-left: 250px;
    margin-top: -90px;
}

.sec-11 {
    text-align: center;
    margin: 20px 0px;
}

footer {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: #449e03;
    padding: 10px;
}

.flex-text2 {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logotip {
    position: absolute;
    margin-left: -300px;
    margin-top: -25px;
}

.txt {
    margin-right: 0px;
}

.tel {
    display: inline;
    outline: none;
}

.tg {
    cursor: pointer;
    width: 34.4px;
    left: 280px;   
}

.vk {
    cursor: pointer;
    width: 35px;
    left: 320px;
}

@media (max-width: 2560px) and (min-width: 2200.1px) {
    .otdel1 {
        height: 2580px;
    }

    .otdel2 {
        height: 5800px;
    }

    nav a {
        font-size: 30px;
        line-height: 32px;
    }
    
    h1 {
        font-size: 110px;
        line-height: 350px;
    }
    
    h2 {
        font-size: 68px;
        line-height: 0px;
    }
    
    h3 {
        font-size: 60px;
        line-height: 100px;
    }
    
    h4 {
        font-size: 60px;
        line-height: 50px;
    }
    
    h5 {
        font-size: 55px;
        line-height: 100px;
    }
    
    h6 {
        font-size: 52px;
        line-height: 50px;
    }
    
    h7 {
        font-size: 55px;
        line-height: 70px;
    }
    
    p {
        font-size: 43px;
        line-height: 60px;
        padding-bottom: 20px;
    }
    
    p2 {
        font-size: 53px;
        line-height: 60px;
    }
    
    p3 {
        font-size: 38px;
        line-height: 45px;
    }
    
    p4 {
        font-size: 60px;
        line-height: 55px;
    }
    
    p5 {
        font-size: 35px;
        line-height: 44px;
    }
    
    p6 {
        font-size: 44px;
        line-height: 42px;
    }
    
    p7 {
        font-size: 30px;
        line-height: 35px;
    }

    .container {
        max-width: 1400px;
    }
    
    .flex-nav {
        min-width: 1500px;
        margin-left: -50px;
    }

    .curaprox {
        width: 302.4px;
        height: 61.2px;
    }

    .sec-3 {
        margin-top: 485px;
    }
    
    .greencrug {
        width: 700px;
        height: 700px;
        padding: 45px 20px;
    }

    .redcrug {
        width: 520px;
        height: 520px;
        padding: 140px 60px;
        top: 315px;
        left: 670px;
    }

    .h5-1 {
        font-size: 45px;
        line-height: 55px;
    }

    .img5 {
        width: 69%;
        left: 55px;
        top: 100px;
    }

    .brush {
        width: 50%;
        margin-left: 430px;
        margin-top: -130px;
    }

    footer {
        height: 150px;
        padding: 10px;
    }

    .logotip {
        width: 30%;
        margin-left: -400px;
        margin-top: -25px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 51.6px;
    }
    
    .vk {
        margin-left: 10px;
        width: 52.5px;
    }
}

@media (max-width: 2200px) and (min-width: 1950.1px) {
    .otdel1 {
        height: 2210px;
    }

    .otdel2 {
        height: 4990px;
    }

    nav a {
        font-size: 25px;
        line-height: 32px;
    }
    
    h1 {
        font-size: 100px;
        line-height: 270px;
    }
    
    h2 {
        font-size: 61px;
        line-height: 30px;
    }
    
    h3 {
        font-size: 54px;
        line-height: 100px;
    }
    
    h4 {
        font-size: 51px;
        line-height: 50px;
    }
    
    h5 {
        font-size: 50px;
        line-height: 100px;
    }
    
    h6 {
        font-size: 48px;
        line-height: 50px;
    }
    
    h7 {
        font-size: 48px;
        line-height: 60px;
    }
    
    p {
        font-size: 39px;
        line-height: 55px;
        padding-bottom: 20px;
    }
    
    p2 {
        font-size: 49px;
        line-height: 55px;
    }
    
    p3 {
        font-size: 32px;
        line-height: 42px;
    }
    
    p4 {
        font-size: 54px;
        line-height: 52px;
    }
    
    p5 {
        font-size: 30px;
        line-height: 37px;
    }
    
    p6 {
        font-size: 38px;
        line-height: 38px;
    }
    
    p7 {
        font-size: 27px;
        line-height: 35px;
    }

    .container {
        max-width: 1200px;
    }
    
    .flex-nav {
        min-width: 1300px;
        margin-left: -50px;
    }

    .curaprox {
        width: 252px;
        height: 51px;
    }

    .bacterii {
        margin-top: 30px;
    }

    .sec-3 {
        margin-top: 310px;
    }
    
    .greencrug {
        width: 600px;
        height: 600px;
        padding: 45px 20px;
    }

    .sec-4 {
        padding-top: 30px;
    }

    .sec-5 {
        padding-top: 70px;
    }

    .img2 {
        width: 100%;
        left: -20px;
        top: 55px;
    }

    .img3 {
        width: 108%;
        left: -30px;
        top: 35px;
    }

    .sec-7 {
        padding-top: 90px;
    }

    .img4 {
        width: 123%;
        left: -85px;
        top: 100px;
    }

    .img5 {
        width: 68%;
        left: 55px;
        top: 100px;
    }

    .sec-9 {
        padding-top: 220px;
    }

    .redcrug {
        width: 450px;
        height: 450px;
        padding: 110px 50px;
        top: 270px;
        left: 570px;
    }

    .h5-1 {
        font-size: 40px;
        line-height: 55px;
    }

    .brush {
        width: 50%;
        margin-left: 380px;
        margin-top: -120px;
    }

    footer {
        height: 150px;
        padding: 10px;
    }

    .logotip {
        margin-left: -400px;
        margin-top: -25px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 51.6px;
    }
    
    .vk {
        margin-left: 10px;
        width: 52.5px;
    }
}

@media (max-width: 1950px) and (min-width: 1750.1px) {
    .otdel1 {
        height: 1960px;
    }

    .otdel2 {
        height: 4425px;
    }

    nav a {
        font-size: 22px;
        line-height: 32px;
    }
    
    h1 {
        font-size: 85px;
        line-height: 250px;
    }
    
    h2 {
        font-size: 52px;
        line-height: 30px;
    }
    
    h3 {
        font-size: 46px;
        line-height: 100px;
    }
    
    h4 {
        font-size: 41px;
        line-height: 50px;
    }
    
    h5 {
        font-size: 45px;
        line-height: 80px;
    }
    
    h6 {
        font-size: 43px;
        line-height: 40px;
    }
    
    h7 {
        font-size: 39px;
        line-height: 60px;
    }
    
    p {
        font-size: 33px;
        line-height: 45px;
        padding-bottom: 20px;
    }
    
    p2 {
        font-size: 41px;
        line-height: 50px;
    }
    
    p3 {
        font-size: 28px;
        line-height: 36px;
    }
    
    p4 {
        font-size: 48px;
        line-height: 48px;
    }
    
    p5 {
        font-size: 25px;
        line-height: 33px;
    }
    
    p6 {
        font-size: 32px;
        line-height: 32px;
    }
    
    p7 {
        font-size: 27px;
        line-height: 35px;
    }

    .container {
        max-width: 1000px;
    }
    
    .flex-nav {
        min-width: 1100px;
        margin-left: -50px;
    }

    .curaprox {
        width: 201.6px;
        height: 40.8px;
    }

    .bacterii {
        margin-top: 20px;
    }

    .sec-3 {
        margin-top: 290px;
    }
    
    .greencrug {
        width: 530px;
        height: 530px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 30px;
    }

    .h4-1 {
        padding-top: 10px;
        padding-right: 100px;
    }

    .img1 {
        width: 120%;
        left: -70px;
        top: 45px;
    }

    .sec-5 {
        padding-top: 70px;
    }

    .img2 {
        width: 105%;
        left: -20px;
        top: 55px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 70px;
    }

    .sec-6 {
        padding-top: 40px;
    }

    .img3 {
        width: 110%;
        left: -25px;
        top: 40px;
    }

    .sec-7 {
        padding-top: 70px;
    }

    .h4-4 {
        padding-right: 80px;
    }

    .img4 {
        width: 125%;
        left: -85px;
        top: 100px;
    }

    .sec-8 {
        padding-top: 20px;
    }    

    .img5 {
        width: 69%;
        left: 45px;
        top: 100px;
    }

    .sec-9 {
        padding-top: 200px;
    }

    .redcrug {
        width: 400px;
        height: 400px;
        padding: 100px 30px;
        top: 220px;
        left: 510px;
    }

    .h5-1 {
        font-size: 37px;
        line-height: 55px;
    }

    .brush {
        width: 50%;
        margin-left: 300px;
        margin-top: -90px;
    }

    footer {
        height: 150px;
        padding: 10px;
    }

    .logotip {
        margin-left: -380px;
        margin-top: -25px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 51.6px;
    }
    
    .vk {
        margin-left: 10px;
        width: 52.5px;
    }
}

@media (max-width: 1750px) and (min-width: 1550.1px) {
    .otdel1 {
        height: 1770px;
    }

    .otdel2 {
        height: 3960px;
    }
    
    nav a {
        font-size: 20px;
        line-height: 25px;
    }
    
    h1 {
        font-size: 72px;
        line-height: 200px;
    }
    
    h2 {
        font-size: 44px;
        line-height: 20px;
    }
    
    h3 {
        font-size: 39px;
        line-height: 100px;
    }
    
    h4 {
        font-size: 39px;
        line-height: 50px;
    }
    
    h5 {
        font-size: 42px;
        line-height: 75px;
    }
    
    h6 {
        font-size: 40px;
        line-height: 50px;
    }
    
    h7 {
        font-size: 37px;
        line-height: 50px;
    }
    
    p {
        font-size: 28px;
        line-height: 40px;
        padding-bottom: 20px;
    }
    
    p2 {
        font-size: 35px;
        line-height: 42px;
    }
    
    p3 {
        font-size: 24px;
        line-height: 32px;
    }
    
    p4 {
        font-size: 42px;
        line-height: 40px;
    }
    
    p5 {
        font-size: 22px;
        line-height: 29px;
    }
    
    p6 {
        font-size: 30px;
        line-height: 31px;
    }
    
    p7 {
        font-size: 25px;
        line-height: 35px;
    }

    .container {
        max-width: 950px;
    }
    
    .flex-nav {
        min-width: 1000px;
        margin-left: -30px;
    }

    .curaprox {
        width: 201.6px;
        height: 40.8px;
    }

    .bacterii {
        margin-top: 20px;
    }

    .sec-3 {
        margin-top: 270px;
    }
    
    .greencrug {
        width: 480px;
        height: 480px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 20px;
    }

    .h4-1 {
        padding-top: 10px;
        padding-right: 100px;
    }

    .img1 {
        width: 110%;
        left: -50px;
        top: 55px;
    }

    .sec-5 {
        padding-top: 70px;
    }

    .text2 {
        margin-top: 30px;
        margin-left: 10px;
    }

    .img2 {
        width: 102%;
        left: -20px;
        top: 55px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 100px;
    }

    .sec-6 {
        padding-top: 30px;
    }

    .img3 {
        width: 105%;
        left: -35px;
        top: 40px;
    }

    .sec-7 {
        padding-top: 70px;
    }

    .h4-4 {
        padding-right: 80px;
    }

    .img4 {
        width: 120%;
        left: -70px;
        top: 80px;
    }

    .sec-8 {
        padding-top: 20px;
    }    

    .img5 {
        width: 65%;
        left: 40px;
        top: 90px;
    }

    .sec-9 {
        padding-top: 180px;
    }

    .redcrug {
        width: 330px;
        height: 330px;
        padding: 80px 20px;
        top: 210px;
        left: 470px;
    }

    .h5-1 {
        font-size: 31px;
        line-height: 45px;
    }

    .brush {
        width: 45%;
        margin-left: 250px;
        margin-top: -85px;
    }

    footer {
        height: 150px;
        padding: 10px;
    }

    .logotip {
        margin-left: -330px;
        margin-top: -25px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 51.6px;
    }
    
    .vk {
        margin-left: 10px;
        width: 52.5px;
    }
}

@media (max-width: 1550px) and (min-width: 1400.1px){
    .otdel1 {
        height: 1550px;
    }

    .otdel2 {
        height: 3540px;
    }

    nav a {
        font-size: 18px;
        line-height: 19px;
    }
    
    h1 {
        font-size: 66px;
        line-height: 140px;
    }
    
    h2 {
        font-size: 41px;
        line-height: 50px;
    }
    
    h3 {
        font-size: 37px;
        line-height: 80px;
    }
    
    h4 {
        font-size: 34px;
        line-height: 38px;
    }
    
    h5 {
        font-size: 37px;
        line-height: 70px;
    }
    
    h6 {
        font-size: 36px;
        line-height: 40px;
    }
    
    h7 {
        font-size: 33px;
        line-height: 40px;
    }
    
    p {
        font-size: 27px;
        line-height: 35px;
        padding-bottom: 15px;
    }
    
    p2 {
        font-size: 33px;
        line-height: 35px;
    }
    
    p3 {
        font-size: 23px;
        line-height: 24px;
    }
    
    p4 {
        font-size: 38px;
        line-height: 36px;
    }
    
    p5 {
        font-size: 20px;
        line-height: 25px;
    }
    
    p6 {
        font-size: 26px;
        line-height: 26px;
    }
    
    p7 {
        font-size: 20px;
    }
    
    .container {
        max-width: 850px;
    }
    
    .flex-nav {
        min-width: 900px;
        margin-left: -20px;
    }

    .bacterii {
        padding-top: 10px;
    }
    .sec-3 {
        margin-top: 250px;
    }
    
    .greencrug {
        width: 420px;
        height: 420px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 20px;
    }

    .h4-1 {
        padding-top: 10px;
        padding-right: 100px;
    }

    .img1 {
        width: 110%;
        left: -50px;
        top: 55px;
    }

    .sec-5 {
        padding-top: 50px;
    }

    .text2 {
        margin-top: 30px;
        margin-left: 10px;
    }

    .img2 {
        width: 100%;
        left: -20px;
        top: 55px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 100px;
    }

    .sec-6 {
        padding-top: 30px;
    }

    .img3 {
        width: 103%;
        left: -35px;
        top: 40px;
    }

    .sec-7 {
        padding-top: 80px;
    }

    .h4-4 {
        padding-right: 80px;
    }

    .img4 {
        width: 116%;
        left: -60px;
        top: 80px;
    }

    .sec-8 {
        padding-top: 20px;
    }    

    .img5 {
        width: 65%;
        left: 40px;
        top: 80px;
    }

    .sec-9 {
        padding-top: 160px;
    }

    .redcrug {
        width: 300px;
        height: 300px;
        padding: 80px 15px;
        top: 187px;
        left: 400px;
    }

    .h5-1 {
        font-size: 30px;
        line-height: 45px;
    }

    .brush {
        width: 45%;
        margin-left: 250px;
        margin-top: -85px;
    }

    footer {
        height: 120px;
        padding: 10px;
    }

    .logotip {
        margin-left: -300px;
        margin-top: -25px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 45.15px;
    }
    
    .vk {
        margin-left: 10px;
        width: 45.9375px;
    }
}

@media (max-width: 1400px) and (min-width: 1250.1px) {
    .otdel1 {
        height: 1415px;
    }

    .otdel2 {
        height: 3180px;
    }

    nav a {
        font-size: 18px;
        line-height: 22px;
    }
    
    h1 {
        font-size: 60px;
        line-height: 130px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 50px;
    }
    
    h3 {
        font-size: 32px;
        line-height: 80px;
    }
    
    h4 {
        font-size: 30px;
        line-height: 38px;
    }
    
    h5 {
        font-size: 35px;
        line-height: 70px;
    }
    
    h6 {
        font-size: 35px;
        line-height: 20px;
    }
    
    h7 {
        font-size: 30px;
        line-height: 45px;
    }
    
    p {
        font-size: 23px;
        line-height: 31px;
        padding-bottom: 10px;
    }
    
    p2 {
        font-size: 29px;
        line-height: 33px;
    }
    
    p3 {
        font-size: 19px;
        line-height: 24px;
    }
    
    p4 {
        font-size: 33px;
        line-height: 36px;
    }
    
    p5 {
        font-size: 19px;
        line-height: 22px;
    }
    
    p6 {
        font-size: 24px;
        line-height: 23px;
    }
    
    p7 {
        font-size: 19px;
    }
    
    .container {
        max-width: 775px;
    }
    
    .flex-nav {
        min-width: 830px;
        margin-left: -25px;
    }

    .curaprox {
        width: 151.2px;
        height: 30.6px;
    }

    .bacterii {
        padding-top: 10px;
    }
    .sec-3 {
        margin-top: 200px;
    }
    
    .greencrug {
        width: 380px;
        height: 380px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 15px;
    }

    .h4-1 {
        padding-top: 10px;
        padding-right: 100px;
    }

    .img1 {
        width: 110%;
        left: -50px;
        top: 50px;
    }

    .sec-5 {
        padding-top: 50px;
    }

    .text2 {
        margin-top: 30px;
        margin-left: 10px;
    }

    .img2 {
        width: 98%;
        left: 0px;
        top: 55px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 100px;
    }

    .sec-6 {
        padding-top: 25px;
    }

    .img3 {
        width: 100%;
        left: -20px;
        top: 40px;
    }

    .sec-7 {
        padding-top: 65px;
    }

    .h4-4 {
        padding-right: 80px;
    }

    .img4 {
        width: 116%;
        left: -60px;
        top: 80px;
    }

    .sec-8 {
        padding-top: 15px;
    }    

    .img5 {
        width: 62%;
        left: 40px;
        top: 75px;
    }

    .sec-9 {
        padding-top: 140px;
    }

    .redcrug {
        width: 260px;
        height: 260px;
        padding: 60px 15px;
        top: 168px;
        left: 360px;
    }

    .h5-1 {
        font-size: 24px;
        line-height: 35px;
    }

    .brush {
        width: 43%;
        margin-left: 180px;
        margin-top: -70px;
    }

    footer {
        height: 110px;
        padding: 10px;
    }

    .logotip {
        width: 25%;
        margin-left: -250px;
        margin-top: -18px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 45.15px;
    }
    
    .vk {
        margin-left: 10px;
        width: 45.9375px;
    }
}

@media (max-width: 1250px) and (min-width: 1100.1px) {
    .otdel1 {
        height: 1255px;
    }

    .otdel2 {
        height: 2830px;
    }

    nav a {
        font-size: 15px;
        line-height: 22px;
    }
    
    h1 {
        font-size: 52px;
        line-height: 100px;
    }
    
    h2 {
        font-size: 32px;
        line-height: 40px;
    }
    
    h3 {
        font-size: 28px;
        line-height: 60px;
    }
    
    h4 {
        font-size: 28px;
        line-height: 38px;
    }
    
    h5 {
        font-size: 30px;
        line-height: 50px;
    }
    
    h6 {
        font-size: 30px;
        line-height: 25px;
    }
    
    h7 {
        font-size: 28px;
        line-height: 37px;
    }
    
    p {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 25px;
        line-height: 28px;
    }
    
    p3 {
        font-size: 17px;
        line-height: 21px;
    }
    
    p4 {
        font-size: 30px;
        line-height: 30px;
    }
    
    p5 {
        font-size: 17px;
        line-height: 21.5px;
    }
    
    p6 {
        font-size: 21px;
        line-height: 20px;
    }
    
    p7 {
        font-size: 17px;
        line-height: 20px;
    }

    .abzac {
        padding-top: 9px;
    }
    
    .abzac2 {
        padding-top: 4px;
    }
    
    .container {
        max-width: 725px;
    }
    
    .flex-nav {
        min-width: 750px;
        margin-left: 0px;
    }

    .curaprox {
        width: 151.2px;
        height: 30.6px;
    }

    .bacterii {
        padding-top: 10px;
    }

    .sec-1 {
        padding-top: 20px;
    }

    .sec-3 {
        margin-top: 190px;
    }
    
    .greencrug {
        width: 340px;
        height: 340px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 10px;
    }

    .h4-1 {
        padding-top: 10px;
        padding-right: 120px;
    }

    .img1 {
        width: 108%;
        left: -60px;
        top: 45px;
    }

    .sec-5 {
        padding-top: 50px;
    }

    .text2 {
        margin-top: 30px;
        margin-left: 0px;
    }

    .img2 {
        width: 95%;
        left: 0px;
        top: 50px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 100px;
    }

    .sec-6 {
        padding-top: 10px;
    }

    .img3 {
        width: 98%;
        left: -20px;
        top: 45px;
    }

    .sec-7 {
        padding-top: 40px;
    }

    .h4-4 {
        padding-right: 60px;
    }

    .img4 {
        width: 110%;
        left: -40px;
        top: 60px;
    }

    .sec-8 {
        padding-top: 5px;
    }    

    .img5 {
        width: 59%;
        left: 35px;
        top: 70px;
    }

    .sec-9 {
        padding-top: 125px;
    }

    .redcrug {
        width: 230px;
        height: 230px;
        padding: 60px 15px;
        top: 157px;
        left: 320px;
    }

    .h5-1 {
        font-size: 22px;
        line-height: 30px;
    }

    .brush {
        width: 43%;
        margin-left: 180px;
        margin-top: -70px;
    }
    
    footer {
        height: 90px;
        padding: 10px;
    }

    .logotip {
        width: 25%;
        margin-left: -210px;
        margin-top: -15px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 36.36px;
    }
    
    .vk {
        margin-left: 7px;
        width: 36.75px;
    }
}

@media (max-width: 1100px) and (min-width: 950.1px) {
    .otdel1 {
        height: 1110px;
    }

    .otdel2 {
        height: 2495px;
    }

    nav a {
        font-size: 13px;
        line-height: 18px;
    }
    
    h1 {
        font-size: 45px;
        line-height: 70px;
    }
    
    h2 {
        font-size: 27px;
        line-height: 50px;
    }
    
    h3 {
        font-size: 24px;
        line-height: 50px;
    }
    
    h4 {
        font-size: 23px;
        line-height: 30px;
    }
    
    h5 {
        font-size: 26px;
        line-height: 45px;
    }
    
    h6 {
        font-size: 26px;
        line-height: 22px;
    }
    
    h7 {
        font-size: 23px;
        line-height: 32px;
    }
    
    p {
        font-size: 17px;
        line-height: 25px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 21px;
        line-height: 25px;
    }
    
    p3 {
        font-size: 15px;
        line-height: 19px;
    }
    
    p4 {
        font-size: 27px;
        line-height: 26px;
    }
    
    p5 {
        font-size: 15px;
        line-height: 18px;
    }
    
    p6 {
        font-size: 19px;
        line-height: 18px;
    }
    
    p7 {
        font-size: 14px;
        line-height: 20px;
    }

    .abzac {
        padding-top: 9px;
    }
    
    .abzac2 {
        padding-top: 4px;
    }
    
    .container {
        max-width: 625px;
    }
    
    .flex-nav {
        min-width: 650px;
        margin-left: 0px;
    }

    .curaprox {
        width: 132.3px;
        height: 26.775px;
    }

    .bacterii {
        padding-top: 0px;
    }

    .sec-1 {
        padding-top: 20px;
    }

    .sec-3 {
        margin-top: 165px;
    }
    
    .greencrug {
        width: 300px;
        height: 300px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 10px;
    }

    .h4-1 {
        padding-top: 15px;
        padding-right: 100px;
    }

    .img1 {
        width: 106%;
        left: -40px;
        top: 45px;
    }

    .sec-5 {
        padding-top: 30px;
    }

    .text2 {
        margin-top: 20px;
        margin-left: 0px;
    }

    .img2 {
        width: 96%;
        left: 5px;
        top: 40px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 70px;
    }

    .sec-6 {
        padding-top: 0px;
    }

    .img3 {
        width: 98%;
        left: -10px;
        top: 45px;
    }

    .sec-7 {
        padding-top: 30px;
    }

    .text4 {
        margin-left: 15px;
        margin-top: 10px;
    }

    .h4-4 {
        padding-right: 50px;
    }

    .img4 {
        width: 110%;
        left: -30px;
        top: 60px;
    }

    .sec-8 {
        padding-top: 0px;
    }

    .h4-5 {
        padding-top: 22px;
        padding-right: 50px;
    }

    .img5 {
        width: 64%;
        left: 25px;
        top: 68px;
    }

    .sec-9 {
        padding-top: 115px;
    }

    .redcrug {
        width: 200px;
        height: 200px;
        padding: 50px 10px;
        top: 132px;
        left: 282px;
    }

    .h5-1 {
        font-size: 19px;
        line-height: 25px;
    }

    .brush {
        width: 45%;
        margin-left: 150px;
        margin-top: -55px;
    }
    
    footer {
        height: 80px;
        padding: 10px;
    }

    .logotip {
        width: 100px;
        margin-left: -190px;
        margin-top: -15px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 27.27px;
    }
    
    .vk {
        margin-left: 2px;
        width: 27.5625px;
    }
}

@media (max-width: 950px) and (min-width: 800.1px) {
    .otdel1 {
        height: 958px;
    }

    .otdel2 {
        height: 2210px;
    }

    nav a {
        font-size: 11px;
        line-height: 10px;
    }
    
    h1 {
        font-size: 40px;
        line-height: 80px;
    }
    
    h2 {
        font-size: 24px;
        line-height: 40px;
    }
    
    h3 {
        font-size: 21px;
        line-height: 40px;
    }
    
    h4 {
        font-size: 20px;
        line-height: 25px;
    }
    
    h5 {
        font-size: 23px;
        line-height: 42px;
    }
    
    h6 {
        font-size: 23px;
        line-height: 18px;
    }
    
    h7 {
        font-size: 21px;
        line-height: 28px;
    }
    
    p {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 21px;
        line-height: 23px;
    }
    
    p3 {
        font-size: 13px;
        line-height: 14px;
    }
    
    p4 {
        font-size: 24px;
        line-height: 23px;
    }
    
    p5 {
        font-size: 13px;
        line-height: 15px;
    }
    
    p6 {
        font-size: 16px;
        line-height: 13px;
    }
    
    p7 {
        font-size: 12px;
        line-height: 15px;
    }

    .abzac {
        padding-top: 4px;
    }
    
    .abzac2 {
        padding-top: 1px;
    }
    
    .container {
        max-width: 560px;
    }
    
    .flex-nav {
        min-height: 50px;
        min-width: 540px;
        margin-left: 10px;
    }

    .curaprox {
        width: 110.25px;
        height: 22.3125px;
    }

    .bacterii {
        padding-top: 0px;
    }

    .bac1 {
        width: 16%;
        padding-right: 16px;
    }
    
    .bac2 {
        width: 17%;
        padding-bottom: 35px;
        padding-right: 10px;
    }
    
    .bac3 {
        width: 19%;
        padding-right: 10px;
    }
    
    .bac4 {     
        width: 20%;
        padding-bottom: 35px;
        padding-right: 17px;
    }
    
    .bac5 {
        width: 18%;
    }

    .sec-1 {
        padding-top: 20px;
    }

    .sec-3 {
        margin-top: 125px;
    }
    
    .greencrug {
        width: 260px;
        height: 260px;
        padding: 35px 20px;
    }

    .sec-4 {
        padding-top: 0px;
    }

    .h4-1 {
        padding-top: 20px;
        padding-right: 100px;
    }

    .img1 {
        width: 106%;
        left: -40px;
        top: 40px;
    }

    .sec-5 {
        padding-top: 10px;
    }

    .text2 {
        margin-top: 20px;
        margin-left: 0px;
    }

    .h4-2 {
        padding-top: 15px;
        padding-right: 60px;
    }

    .img2 {
        width: 93%;
        left: 10px;
        top: 35px;
    }

    .h4-3 {
        padding-top: 40px;
        padding-right: 70px;
    }

    .sec-6 {
        padding-top: 0px;
        margin-top: -15px;
    }

    .img3 {
        width: 98%;
        left: -10px;
        top: 45px;
    }

    .sec-7 {
        padding-top: 15px;
    }

    .text4 {
        margin-left: 15px;
        margin-top: 10px;
    }

    .h4-4 {
        padding-right: 50px;
    }

    .img4 {
        width: 110%;
        left: -25px;
        top: 60px;
    }

    .sec-8 {
        padding-top: 0px;
        margin-top: -15px;
    }

    .h4-5 {
        padding-top: 25px;
        padding-right: 50px;
    }

    .img5 {
        width: 66%;
        left: 25px;
        top: 68px;
    }

    .sec-9 {
        padding-top: 95px;
    }

    .redcrug {
        width: 180px;
        height: 180px;
        padding: 45px 10px;
        top: 118px;
        left: 240px;
    }

    .h5-1 {
        font-size: 16px;
        line-height: 22px;
    }

    .brush {
        width: 43%;
        margin-left: 125px;
        margin-top: -48px;
    }
    
    footer {
        height: 70px;
        padding: 10px;
    }

    .logotip {
        width: 20%;
        margin-left: -140px;
        margin-top: -10px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 27.27px;
    }
    
    .vk {
        margin-left: 2px;
        width: 27.5625px;
    }
}

@media (max-width: 800px) and (min-width: 650.1px) {
    .otdel1 {
        height: 810px;
    }

    .otdel2 {
        height: 2120px;
    }

    nav a {
        font-size: 9px;
        line-height: 1px;
    }
    
    h1 {
        font-size: 34px;
        line-height: 60px;
    }
    
    h2 {
        font-size: 20px;
        line-height: 35px;
    }
    
    h3 {
        font-size: 19px;
        line-height: 38px;
    }
    
    h4 {
        font-size: 17px;
        line-height: 20px;
    }
    
    h5 {
        font-size: 21px;
        line-height: 42px;
    }
    
    h6 {
        font-size: 21px;
        line-height: 18px;
    }
    
    h7 {
        font-size: 18px;
        line-height: 28px;
    }
    
    p {
        font-size: 13px;
        line-height: 18px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 16px;
        line-height: 20px;
    }
    
    p3 {
        font-size: 11px;
        line-height: 12px;
    }
    
    p4 {
        font-size: 20px;
        line-height: 19px;
    }
    
    p5 {
        font-size: 10px;
        line-height: 8px;
    }
    
    p6 {
        font-size: 14px;
        line-height: 10px;
    }
    
    p7 {
        font-size: 10px;
        line-height: 10px;
    }

    .abzac {
        padding-top: 0px;
    }
    
    .abzac2 {
        padding-top: 0px;
    }
    
    .container {
        max-width: 480px;
    }
    
    .flex-nav {
        min-height: 10px;
        min-width: 470px;
        margin-left: 5px;
    }

    .curaprox {
        margin-top: 8px;
        width: 88.2px;
        height: 17.85px;
    }

    .bacterii {
        padding-top: 0px;
    }

    .bac1 {
        width: 15%;
        padding-right: 8px;
    }
    
    .bac2 {
        width: 16%;
        padding-bottom: 25px;
        padding-right: 5px;
    }
    
    .bac3 {
        width: 18%;
        padding-right: 5px;
    }
    
    .bac4 {     
        width: 19%;
        padding-bottom: 25px;
        padding-right: 9px;
    }
    
    .bac5 {
        width: 17%;
    }

    .sec-1 {
        padding-top: 20px;
    }

    .sec-3 {
        margin-top: 90px;
    }
    
    .greencrug {
        width: 220px;
        height: 220px;
        padding: 35px 10px;
    }

    .sec-4 {
        padding-top: 0px;
    }

    .h4-1 {
        padding-top: 20px;
        padding-right: 90px;
    }

    .img1 {
        width: 106%;
        left: -35px;
        top: 40px;
    }

    .sec-5 {
        padding-top: 10px;
    }

    .text2 {
        margin-top: 20px;
        margin-left: 20px;
    }

    .h4-2 {
        padding-top: 20px;
        padding-right: 30px;
    }

    .img2 {
        width: 102%;
        left: 10px;
        top: 40px;
    }

    .h4-3 {
        padding-top: 45px;
        padding-right: 70px;
    }

    .sec-6 {
        padding-top: 0px;
        margin-top: -15px;
    }

    .img3 {
        width: 105%;
        left: -30px;
        top: 45px;
    }

    .sec-7 {
        padding-top: 5px;
    }

    .text4 {
        margin-left: 10px;
        margin-top: 10px;
    }

    .h4-4 {
        padding-top: 10px;
        padding-right: 35px;
    }

    .img4 {
        width: 115%;
        left: -20px;
        top: 60px;
    }

    .sec-8 {
        padding-top: 0px;
        margin-top: -15px;
    }

    .h4-5 {
        padding-top: 25px;
        padding-right: 50px;
    }

    .img5 {
        width: 70%;
        left: 15px;
        top: 68px;
    }

    .sec-9 {
        padding-top: 95px;
    }

    .bac1-2 {
        width: 14%;
        padding-right: 15px;
    }
    
    .bac2-2 {
        width: 17%;
        padding-right: 10px;
    }
    
    .bac3-2 {
        width: 18%;
        padding-right: 20px;
    }
    
    .bac4-2 {
        width: 16%;
        padding-right: 20px;
    }
    
    .bac5-2 {
        width: 13%;
    }

    .paste {
        width: 75%;
        padding-right: 40px;
        padding-top: 10px;
    }

    .redcrug {
        width: 160px;
        height: 160px;
        padding: 50px 10px;
        top: 114px;
        left: 180px;
    }

    .h5-1 {
        font-size: 16px;
        line-height: 22px;
    }

    .brush {
        width: 48%;
        margin-left: 115px;
        margin-top: -42px;
    }

    .sec-11 {
        margin: 15px 0px;
    }
    
    footer {
        height: 65px;
        padding: 10px;
    }

    .logotip {
        width: 18%;
        margin-left: -100px;
        margin-top: -6px;
    }
    
    .txt {
        margin-right: 50px;
    }
    
    .tg {
        width: 21.21px;
        margin-top: 2px;
    }
    
    .vk {
        margin-left: 1px;
        width: 21.4375px;
    }
}

@media (max-width: 650px) and (min-width: 479.1px) {
    .otdel1 {
        background: url(img/fon1.30.png) center/cover no-repeat;
        height: 665px;
    }

    .otdel2 {
        background: url(img/fon2.01.png) center/cover no-repeat;
        height: 3650px;
    }

    nav a {
        font-size: 8px;
        line-height: 1px;
    }
    
    h1 {
        font-size: 30px;
        line-height: 30px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 40px;
    }
    
    h3 {
        font-size: 16px;
        line-height: 20px;
    }
    
    h4 {
        font-size: 22px;
        line-height: 20px;
    }
    
    h5 {
        font-size: 23px;
        line-height: 45px;
    }
    
    h6 {
        font-size: 23px;
        line-height: 18px;
    }
    
    h7 {
        font-size: 15px;
        line-height: 26px;
    }
    
    p {
        font-size: 11px;
        line-height: 18px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 13px;
        line-height: 10px;
    }
    
    p3 {
        font-size: 11px;
        line-height: 10px;
    }
    
    p4 {
        font-size: 13px;
        line-height: 15px;
    }
    
    p5 {
        font-size: 16px;
        line-height: 5px;
    }
    
    p6 {
        font-size: 21px;
        line-height: 20px;
    }
    
    p7 {
        font-size: 9px;
        line-height: 5px;
    }

    .abzac {
        padding-top: 7px;
    }
    
    .abzac2 {
        padding-top: 3px;
    }
    
    .container {
        max-width: 380px;
    }
    
    .flex-nav {
        min-height: 0px;
        min-width: 380px;
        margin-left: 0px;
    }

    .curaprox {
        margin-top: 8px;
        width: 70.56px;
        height: 14.28px;
    }

    .bacterii {
        padding-top: 0px;
    }

    .bac1 {
        width: 13%;
        padding-right: 4px;
    }
    
    .bac2 {
        width: 14%;
        padding-bottom: 15px;
        padding-right: 3px;
    }
    
    .bac3 {
        width: 16%;
        padding-right: 3px;
    }
    
    .bac4 {     
        width: 17%;
        padding-bottom: 15px;
        padding-right: 5px;
    }
    
    .bac5 {
        width: 15%;
    }

    .sec-1 {
        padding-top: 20px;
    }

    .sec-3 {
        margin-top: 46px;
    }
    
    .greencrug {
        width: 180px;
        height: 180px;
        padding: 35px 0px;
    }

    .flex-card2 {
        display: block;
        display: table;
    }

    .item1, .item2, .item1-2, .item2-2 {
        width: 100%;
    }

    .item2 {
        display: table-footer-group;
    }

    .item1 {
        display: table-header-group;
        height: 270px;
    }

    .item2-2 {
        display: table-footer-group;
    }

    .item1-2 {
        display: table-header-group;
        height: 295px;
    }

    .sec-4 {
        padding-top: 10px;
    }

    .text {
        margin-left: 40px;
        margin-top: 0px;
    }

    .h4-1 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img1 {
        width: 80%;
        left: 55px;
        top: 10px;
        margin-top: 10px;
    }

    .sec-5 {
        padding-top: 20px;
    }

    .text2 {
        margin-top: 25px;
        margin-left: 40px;
    }

    .h4-2 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img2 {
        width: 80%;
        left: 50px;
        top: 0px;
    }

    .text3 {
        margin-top: 25px;
        margin-left: 40px;
    }

    .h4-3 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .sec-6 {
        padding-top: 15px;
        margin-top: 0px;
    }

    .img3 {
        width: 80%;
        left: 60px;
        top: 0px;
    }

    .sec-7 {
        padding-top: 10px;
    }

    .text4 {
        margin-left: 40px;
        margin-top: 0px;
    }

    .h4-4 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img4 {
        width: 90%;
        left: 0px;
        top: 30px;
    }

    .sec-8 {
        padding-top: 25px;
        margin-top: -15px;
    }

    .h4-5 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .text5 {
        margin-left: 40px;
        margin-top: 10px;
    }

    .img5 {
        width: 55%;
        left: 80px;
        top: 30px;
    }

    .sec-9 {
        padding-top: 75px;
    }

    .bac1-2 {
        width: 16%;
        padding-right: 15px;
    }
    
    .bac2-2 {
        width: 19%;
        padding-right: 10px;
    }
    
    .bac3-2 {
        width: 20%;
        padding-right: 20px;
    }
    
    .bac4-2 {
        width: 18%;
        padding-right: 20px;
    }
    
    .bac5-2 {
        width: 15%;
    }

    .paste {
        width: 90%;
        padding-right: 20px;
        padding-top: 10px;
    }

    .redcrug {
        width: 180px;
        height: 180px;
        padding: 50px 10px;
        top: 114px;
        left: 100px;
    }

    .h5-1 {
        font-size: 18px;
        line-height: 22px;
    }

    .p3-1 {
        font-size: 12px;
    }

    .brush {
        width: 60%;
        margin-left: 135px;
        margin-top: -42px;
    }

    .sec-11 {
        margin: 15px 0px;
    }
    
    footer {
        height: 70px;
        padding: 0px;
    }

    .logotip {
        width: 25%;
        margin-left: -100px;
        margin-top: -6px;
    }
    
    .txt {
        margin-right: 30px;
    }
    
    .tg {
        width: 21.21px;
        margin-top: 4px;
    }
    
    .vk {
        margin-left: 1px;
        width: 21.4375px;
    }
}

@media (max-width: 479px) and (min-width: 320px) {
    .otdel1 {
        background: url(img/fon1.31.png) center/cover no-repeat;
        height: 495px;
    }

    .otdel2 {
        background: url(img/fon2.01.png) center/cover no-repeat;
        height: 3280px;
    }

    nav a {
        font-size: 6px;
        line-height: 1px;
    }
    
    h1 {
        font-size: 24px;
        line-height: 20px;
    }
    
    h2 {
        font-size: 14px;
        line-height: 40px;
    }
    
    h3 {
        font-size: 12px;
        line-height: 18px;
    }
    
    h4 {
        font-size: 20px;
        line-height: 20px;
    }
    
    h5 {
        font-size: 20px;
        line-height: 45px;
    }
    
    h6 {
        font-size: 20px;
        line-height: 10px;
    }
    
    h7 {
        font-size: 12px;
        line-height: 24px;
    }
    
    p {
        font-size: 8px;
        line-height: 10px;
        padding-bottom: 5px;
    }
    
    p2 {
        font-size: 10px;
        line-height: 0px;
    }
    
    p3 {
        font-size: 7px;
        line-height: 5px;
    }
    
    p4 {
        font-size: 11px;
        line-height: 5px;
    }
    
    p5 {
        font-size: 13px;
        line-height: 5px;
    }
    
    p6 {
        font-size: 18px;
        line-height: 20px;
    }
    
    p7 {
        font-size: 7px;
        line-height: 0px;
    }

    .abzac {
        padding-top: 2px;
    }
    
    .abzac2 {
        padding-top: 0px;
    }
    
    .container {
        max-width: 300px;
    }
    
    .flex-nav {
        min-height: 10px;
        min-width: 300px;
        margin-left: 0px;
    }

    .curaprox {
        margin-top: 8px;
        width: 52.92px;
        height: 10.71px;
    }

    .bacterii {
        padding-top: 0px;
    }

    .bac1 {
        width: 13%;
        padding-right: 4px;
    }
    
    .bac2 {
        width: 14%;
        padding-bottom: 5px;
        padding-right: 3px;
    }
    
    .bac3 {
        width: 16%;
        padding-right: 3px;
    }
    
    .bac4 {     
        width: 17%;
        padding-bottom: 5px;
        padding-right: 5px;
    }
    
    .bac5 {
        width: 15%;
    }

    .sec-1 {
        padding-top: 10px;
    }

    .sec-3 {
        margin-top: 0px;
    }
    
    .greencrug {
        width: 147px;
        height: 147px;
        padding: 30px 0px;
    }

    .flex-card2 {
        display: block;
        display: table;
    }

    .item1, .item2, .item1-2, .item2-2 {
        width: 100%;
    }

    .item2 {
        display: table-footer-group;
    }

    .item1 {
        display: table-header-group;
        height: 220px;
    }

    .item2-2 {
        display: table-footer-group;
    }

    .item1-2 {
        display: table-header-group;
        height: 230px;
    }

    .sec-4 {
        padding-top: 10px;
    }

    .text {
        margin-left: 20px;
        margin-top: 0px;
    }

    .h4-1 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img1 {
        width: 80%;
        left: 45px;
        top: 10px;
        margin-top: 10px;
    }

    .sec-5 {
        padding-top: 20px;
    }

    .text2 {
        margin-top: 25px;
        margin-left: 20px;
    }

    .h4-2 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img2 {
        width: 80%;
        left: 40px;
        top: 5px;
    }

    .text3 {
        margin-top: 25px;
        margin-left: 20px;
    }

    .h4-3 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .sec-6 {
        padding-top: 15px;
        margin-top: 0px;
    }

    .img3 {
        width: 80%;
        left: 60px;
        top: 0px;
    }

    .sec-7 {
        padding-top: 10px;
    }

    .text4 {
        margin-left: 20px;
        margin-top: 0px;
    }

    .h4-4 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .img4 {
        width: 90%;
        left: 0px;
        top: 30px;
    }

    .sec-8 {
        padding-top: 25px;
        margin-top: -15px;
    }

    .h4-5 {
        padding-top: 0px;
        padding-right: 0px;
    }

    .text5 {
        margin-left: 20px;
        margin-top: 10px;
    }

    .img5 {
        width: 55%;
        left: 80px;
        top: 30px;
    }

    .sec-9 {
        padding-top: 75px;
    }

    .bac1-2 {
        width: 16%;
        padding-right: 8px;
    }
    
    .bac2-2 {
        width: 19%;
        padding-right: 5px;
    }
    
    .bac3-2 {
        width: 20%;
        padding-right: 10px;
    }
    
    .bac4-2 {
        width: 18%;
        padding-right: 10px;
    }
    
    .bac5-2 {
        width: 15%;
    }

    .paste {
        width: 90%;
        padding-right: 20px;
        padding-top: 10px;
    }

    .redcrug {
        width: 150px;
        height: 150px;
        padding: 30px 10px;
        top: 90px;
        left: 60px;
    }

    .h5-1 {
        font-size: 14px;
        line-height: 22px;
    }

    .p3-1 {
        font-size: 10px;
    }

    .brush {
        width: 65%;
        margin-left: 105px;
        margin-top: -35px;
    }

    .sec-11 {
        margin: 15px 0px;
    }
    
    footer {
        height: 60px;
        padding: 0px;
    }

    .logotip {
        width: 15%;
        margin-left: -25px;
        margin-top: -2px;
    }
    
    .txt {
        margin-left: 20px;
        margin-right: 10px;
    }

    .txt2
    
    .tg {
        width: 21.21px;
        margin-top: 8px;
    }
    
    .vk {
        margin-left: 1px;
        width: 21.4375px;
    }
}
